body {
    background: red;
}
.my-class {
    critical: this;
    color: green;
}
#my-id {
    border: 1px solid gray;
}

@media screen and (max-width: 100px) {
    body {
        background: orange;
    }
    .my-class .critical {
        font-size: 14px;
        critical: this;
    }
}
